# Unity が作り直せるもの
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/Assets/_shots/
/Assets/_shots.meta

# IDE
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

# その他
sysinfo.txt
crashlytics-buildsettings.json
*.apk
*.aab
*.unitypackage
